{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}

<ul class='nav-builder'>
  <li>
    <a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a>
  </li>
  {% if g.user['role'] == 'teacher' %}
  <li><a class="nav-dynamic" href="{{ url_for('courses.courses') }}">{{ course_name }}></a></li>
  <li><a class="nav-dynamic" href="{{ url_for('sessions.sessions_for_teachers', course_id=course_id) }}">{{ section }}></a></li>
  <li><a class="nav-dynamic" href="{{ url_for('assignments.assignments', course_id=course_id, section=section)}}">{{ name }}></a></li>
  {% elif g.user['role'] == 'student' %}
  <li><a class="nav-dynamic" href="{{ url_for('sessions.sessions_for_students') }}">{{ course_name}} - {{ section }}></a></li>
  {% endif %}

  <li class='nav-static'>Grades</li>
</ul>

<h1 class='grade-title'>Enter Grades</h1>

<p class='grade'>{{ name }}</p>

<table class='table-whole'>

  <thead class='table-head'>
    <tr class='table-head'>
      <th class='table-headers'>Name</th>
      <th class='table-headers'>Points</th>
      <th class='table-headers'>Total</th>
      <th class='table-headers'>Submit</th>
    </tr>
  </thead>

  <tbody class=''>
    {% for student in students %}
    <tr class=''>

      <form method="post">

        <label class='grade' for="grade">

          <td class='table-row'>{{ student['name'] }}</td>

          <td class='table-row'>
            {% if grades_dict[student['id']] %}

            {{ grades_dict[student['id']] }}

            {% else %}

            <input
              class='grade-input' type="number"
              id="grade" name="grade"
              value=''
            required>

            {% endif %}
          </td>

          <input type="hidden" name="student" value="{{ student['id'] }}">

          <td class='table-row'>/{{ points }}</td>

        </label>


        <td>
          <input
            class='grade-submit'
            type="submit"
            value="Enter">
        </td>


        </form>
    </tr>

    {% endfor %}

  </tbody>

</table>


{% endblock %}
