{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<ul class='nav-builder'>
  <li>
    <a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a>
  </li>
  <li><a class="nav-dynamic" href="{{ url_for('sessions.sessions_for_students') }}">{{ course_name}} - {{ section }}></a></li>

  <li class="nav-static">Assignments</li>
</ul>

<h1>{{ course_section }}</h1>

<p>Total Grade: {{total_earned}} / {{ total_possible }}</p>

<table class='table-whole'>
  <thead>
    <th class='table-headers'>Name</th>
    <th class='table-headers'>Grade</th>
    <th class='table-headers'>Details</th>
  </thead>
  <tbody>
    {% for assignments in student_assignments %}
    <tr>
      <td class='table-row'>{{ assignments["name"] }}</td>
      <td class='table-row'>
        {{ assignments["points_earned"] }}/{{ assignments["points"] }}
      </td>
      <td class='table-button-holder'>
        <a class='table-button'
           href="{{ url_for('assignments.assignments_view',
           course_id=assignments['course_id'],
           section=assignments['section'],
           assignment_id=assignments['id'])}}">
           Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
