{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<ul class='nav-builder'>
  <li><a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a></li>
  <li class="nav-static">Sessions</li>
</ul>

<h1>Sessions</h1>

<table class='table-whole'>
  <thead>
    <tr>
      <th class='table-headers'>Major</th>
      <th class='table-headers'>Course</th>
      <th class='table-headers'>Number</th>
      <th class='table-headers'>View</th>
      <th class='table-headers'>Assignments</th>
    </tr>
  </thead>
  <tbody>
    {% for class_session in all_student_sessions %}
    <tr>
      <td class='table-row'>{{ class_session['major'] }}</td>

      <td class='table-row'>{{ class_session['name']}}</td>

      <td class='table-row'>{{ class_session['num'] }}</td>

      <td class='table-button-holder'>
        <a class='table-button' href="{{ url_for('sessions.session_view', classname=class_session['name'], course_id=class_session['course_id'], section=class_session['section']) }}">
          View</a>
      </td>

      <td class='table-button-holder'>
        <a class='table-button'  href="{{ url_for('assignments.assignments', course_id=class_session['course_id'], section=class_session['section']) }}">
          Assignments</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
