{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<a class="white-to-red" href="{{ url_for('courses.courses') }}">Back</a>

<h1>Viewing: {{ course['name'] }}</h1>

<div class="button-group">
  <a class="white-to-red" href="{{ url_for('courses.courses_edit', cour_id=course.id) }}">Edit Course</a>
  <form class="button" action="{{ url_for('courses.courses_delete') }}" method="post">
    <button type="submit" class="white-to-red" name="course_to_delete" value="{{ course.id }}">Delete Course</button>
  </form>
</div>

<table class='table-whole'>
  <thead>
    <th class='table-headers'>Course Major</th>
    <th class='table-headers'>Course Number</th>
    <th class='table-headers'>Course Credits</th>
  </thead>
  <tbody>
    <tr>
      <td class='table-row'>{{ course['major'] }}</td>
      <td class='table-row'>{{ course['num'] }}</td>
      <td class='table-row'>{{ course['credits'] }}</td>
    </tr>
  </tbody>
</table>

<h2>Description</h2>

<article class="description">
  <p>{{ course['description'] }}</p>
</article>
{% endblock %}
