{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<a class="white-to-red" href="{{ url_for('sessions.sessions_for_teachers', course_id=course_id) }}">Back</a>

<h1>Viewing: {{ classname }}-{{ section }}</h1>

{% if g.user['role'] == 'teacher' %}
<form class="button" action="{{ url_for('sessions.session_delete')}}" method="post">
  <input type="hidden" name="course_id" value="{{session_info['course_id']}}">
  <input type="hidden" name="section" value="{{session_info['section']}}">
  <button type="submit" class="white-to-red" name="session_to_delete">Delete Session</button>
</form>
{% endif %}

<table class='table-whole'>
  <thead>
    <th class='table-headers'>Session Time</th>
    <th class='table-headers'>Session Location</th>
  </thead>
  <tbody>
    <tr>
      <td class='table-row'>{{ session_info[3] }}</td>
      <td class='table-row'>{{ session_info[4] }}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
